@use "variables";

header {
  grid-area: header;
  color: white;
  background-color: variables.$accent;
  padding: 0 variables.$side-padding;
  display: flex;
  height: 80px;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    flex-grow: 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 0 50px;
    // justify-content: space-between;
    padding: 0 20px;

    li {
      flex-grow: 1;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}
