<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block css %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="title">
                <h1>BDS ISMIN</h1>
            </div>
            <div class="links">
                <ul>
                    {% if g.user %}
                        <li>
                            <span>User: {{ g.user['username'] }}</span>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">Log Out</a>
                            {% else %}
                                <li>
                                    <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                                    <li>
                                        <a href="{{ url_for('auth.login') }}">Log In</a>
                                    {% endif %}
                                    <li>
                                        <a href="{{ url_for('views.index') }}">Home</a>
                                        <li>
                                            <a href="{{ url_for('gym.planning') }}">Planning Gym</a>
                                        </ul>
                                    </div>
                                </header>
                                <div class="main">
                                    <div class="flash">
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="message" role="alert">
                                                        {{ message }}
                                                        <button type="button">Dismiss</button>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    {% block content %}{% endblock %}
                                </div>
                                {% block script %}{% endblock %}
                            </body>
                        </html>
