{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='planning.css') }}">
{% endblock %}
{% block title %}Planning{% endblock %}
{% block content %}
<h1 id="title">Planning</h1>
<table id="planning">
	<thead>
		<tr>
			<th>Hours</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
	</thead>
	<tbody>
		{% for hour in range(6,24) %}
		<tr>
			<th>{{ "{}H- {}H".format(hour,hour+1) }}</th>
			{% for day in range(0,7) %}
			<td>
				{% for reservation in reservations %}
				{# get a datetime object based on reservation.time #}
				{# to check if the reservation belongs to this slot #}
				{#{% set reservation_time = format_time_string(reservation.time) %}#}
				{% if reservation.time.weekday()== day and
				reservation.time.hour == hour and is_same_week(reservation.time)%}
				<div class="inner-slot">{{ reservation.time }}</div>
				{% endif %}
				{% endfor %}
			</td>
			{% endfor %}
		</tr>
		</tr>
		{% endfor %}
	</tbody>
</table>
<form action="{{ url_for('gym.create') }}" method="post">
	<label for="time">Time</label>
	<input type="datetime-local" name="time" id="time" value="time" required>
	<input type="submit" value="Save">
</form>
{% endblock %}
